# Nuxt
.nuxt/
.output/
.nitro/
.cache/

# Build
dist/

# Env
.env
.env.local

# Node / Bun
node_modules/
bun.lockb

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/

# Prisma
prisma/migrations/

# Google OAuth client secret — keep out of git
client_secret_*.json
